@import 'theme';

$size: 25rem;

.edible-featured {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: $size;
}

.edible-featured-picture {
	height: $size / 2;
	width: $size / 2;
	border-radius: $size / 4;
	background-color: color(burgundy, light);
}

.edible-featured-description {
	padding: 1rem;
	text-align: center;
}