<div class="edible-featured">
	<div class="edible-featured-picture">
	
	</div>
	
	<h2 class="edible-featured-name">{{ edible.name }}</h2>
	<p class="edible-featured-description">{{ edible.description }}</p>
</div>