<div class="home-header">
	<h1 class="home-title">{{ currentMonth | titlecase }}</h1>
	<span class="home-subtitle">{{ 'home.MONTH_SELECTION' | transloco }}</span>
</div>
<div class="home-carousel">
	<app-edible-featured
		class="home-feature"
		*ngFor="let edible of featuredEdibles"
		[edible]="edible"
	></app-edible-featured>
</div>
<div class="home-more">

</div>