@import 'theme';

:host {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: color(burgundy);
}

.home-header {
	padding: 1rem;
}

.home-title {
	font-size: 64px;
	margin-bottom: 0;
}

.home-subtitle {
	font-size: 24px;
}

.home-carousel {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	width: 100vw;
	margin-top: 3rem;
}

.home-feature {
	flex-shrink: 0;
	width: 100%;
	scroll-snap-align: start;
}