<form class="search-box">
  <mat-form-field class="search-box-field">
    <input type="text"
           class="search-box-input"
           aria-label="Number"
					 matInput
           [formControl]="input"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>