<cdk-virtual-scroll-viewport [itemSize]="50" class="edible-list">
	<div *cdkVirtualFor="let edible of edibles">
		<app-edibles-list-entry [edible]="edible" [routerLink]="['/edible', edible.ciqualCode]"></app-edibles-list-entry>
	</div>
</cdk-virtual-scroll-viewport>