$palettes: (
	blue: (
		base: hsl(191, 51, 35),
		light: hsl(191, 57, 52),
	),
	burgundy: (
		base: hsl(17, 100, 28),
		light: hsl(15, 65, 43),
	),
	success: (
		base: hsl(158, 95, 33),
	),
	warning: (
		base: hsl(36, 88, 55),
	),
	grey: (
		dark: hsl(0, 0, 33),
		base: hsl(0, 0, 54),
		light: hsl(0, 0, 77),
		lighter: hsl(0, 0, 90),
	)
);

@function color($color, $tone: 'base'){

	@if map-has-key($palettes,$color){
			$color: map-get($palettes,$color);

					@if map-has-key($color,$tone){
							$tone: map-get($color,$tone);
							@return $tone;
					}

					@warn "unknown tone `#{$tone}` in color";
					@return null;        
	}

	@warn "unknown color `#{$color}` in palette";
	@return null;
 
}