/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700;900&display=swap');

html, body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}