<mat-card class="edible-list-entry">
	<mat-card-header>
		<div
			mat-card-avatar
			[style.background-image]="edible.picture"
			class="edible-illustration"
		></div>
		<mat-card-title>{{ edible.name }}</mat-card-title>
		<mat-card-subtitle *ngIf="edible.detailedName">
			{{ edible.detailedName }}
		</mat-card-subtitle>
	</mat-card-header>
</mat-card>